#mapid {
    height: 400px;
}

.leaflet-bar {
    box-shadow: none;
    border-radius: unset !important;
}

button#map-enable-draw.easy-button-button,
button#map-disable-draw.easy-button-button,
button#map-help.easy-button-button {
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

button#map-enable-draw.easy-button-button {
    background: #3eacb9;
    border-radius: 4px;
}

button#map-disable-draw.easy-button-button {
    background: #d1482a;
    border-radius: 4px;
}

button#map-help.easy-button-button {
    background: #3eacb9;
    border-radius: 50%;
}
